body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1a78c4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-menu {
    display: flex;
    gap: 10px;
}

.login-item {
    color: white;
    cursor: pointer;
}

.footer{
    background-color: #70b5ec;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
.App {
    text-align: center;
    margin: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .profile-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .username {
    font-weight: bold;
    margin: 10px 0;
  }
  
  .profile-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .profile-button:hover {
    background-color: #0056b3;
  }
  
