/* Login.css */


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .input-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .registration-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .registration-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .registration-link a:hover {
    text-decoration: underline;
  }
  .login-page-container {
    background-image: url('../public/keyimage.jpg'); /* Adjust the path based on your project structure */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensures the background covers the entire viewport height */
    /* Add more styles as needed */
  }
  